body {
    background-color: rgb(91, 32, 119); 
   background-image: url(https://i.pinimg.com/originals/fd/90/a2/fd90a2db22d95fb654d8312ae2ac9311.jpg);
   background-repeat: no-repeat; 
   background-size: 100%;

h1{text-align: center;}

.p1{
    
  text-align: justify;  /* Justifica o texto */
    line-height: 1.8;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 22px;
    color: gray
  
}


