body {
     background-color: pink; 
    background-image: url(https://cdn.pixabay.com/photo/2017/06/10/14/26/background-2389968_1280.jpg);
    background-repeat: no-repeat; 
    background-size: 100%;
}

.menu {
    background: #9c89b8;
}

.menu ul {
   display: flex;
 flex-direction: row;
 justify-content: space-around;
}

.menu li {
    list-style: none;
}

a {
   text-decoration: none;
   color:black; 
   font-size: 30px;
     
     
}

a:hover {
    text-decoration: underline;
    color: gray;
}
