body {
     background-color: pink; 
    background-image: url("https://plus.unsplash.com/premium_photo-1675518474491-a8264226b389?q=80&w=2041&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
     background-repeat: no-repeat; 
    background-size: auto;
}

.menu {
    background: white;
}

.menu ul {
    display: flex;

}

.menu li {
    list-style: none;
}

a {
   text-decoration: none;
   color:black; 
}

a:hover {
    text-decoration: underline;
    color: gray;
}
